.column.s25{
    width: 25%;
}   

.column.s50{
    width: 50%;
}

.column.s75{
    width: 75%;
}

.container-proj {
    gap: 2%;
    margin: 5%;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.col-proj{
    width: 49%;
}

/* compressed window*/
@media screen and (min-width: 900px) and (max-width: 1200px) {

    .row{
        display: inline;
    }

    .column.s25 {
        width: 100%;
    }

    .column.s75 {
        width: 100%;
    }

    .container-proj{
        margin-top: 200px;
    }
}

/* Phones or tablets */
@media screen and (max-width: 900px){

    .row{
        display: inline;
    }

    .container-proj{
        margin: 0%;
        margin-top: 200px;
        display:inherit;
    }

    .col-proj {
        margin: 5%;
        width: 90%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }

    .column.s25 {
        width: 100%;
    }

    .column.s75 {
        width: 100%;
    }
}

.project-content{
    background-color: var(--background2-color);
    color: var(--text3-color);
    margin-bottom: 4em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    padding-left: 20px;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 1em;
    border: 2px solid;
    border-color: var(--border-color);
}

.project-content:hover{
    border-color: var(--border-color-hover);
}

.project-content p{
    margin-right: 15px;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
} 

.project-content h1{
    margin-top: 0.2em;
    margin-bottom: 0.6em;
} 